:root{
  font-size: 10px;
  --text-color: white;
  --background: linear-gradient(rgb(32, 24, 54), rgb(46, 15, 42));
  /* font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif; */
}

body{
  padding: 0;
  margin: 0;
}

/* ##### App ##### */
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  height: 100vh;
  background-image: var(--background);
}

  .App--card{
    position: fixed;
    top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 80vw;
    max-width: 600px;
    height: 600px;
    background-color: rgba(138, 138, 138, 0.199);
    border-radius: 5%;

    overflow-y: scroll;
    overflow-x: hidden;
  }

    .App--card::-webkit-scrollbar{
      display: none;
    }

      .App--card>section{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 100px;
      }

      .App--card--about-me{
        cursor: pointer;
      }

/*##### Socials ##### */

.Socials{
  width: 100%;
}

  .Socials--icons{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-top: 5%;
  }

    .icon{
      max-width: 50px;
    }

    #icon1{
      transition: all 2s;
    }

    #icon2{
      transition: all 1s;
    }

    #icon3{
      transition: all 0.5s;
    }


/* ##### components for animation ##### */
    .component{
      filter: blur(2px);
      color: var(--text-color);
      opacity: 0;
      transition: all 1s;
    }

    h1.component{
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      font-size: 3.5rem;
      margin: 0;
      margin-top: 10px;

      transform: translateY(-50%);
    }

    h2.component{
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 2.5rem;
      margin: 0;
      margin-top: 10px;

      transition: all 0.8s;
      transform: translateY(-100%);
    }

    h3.component{
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 1.6rem;

      margin: 0px;
      margin-top: 8px;

      transform: translateY(100%);

      user-select: none;
    }

    p.component{
      font-family: 'Manrope', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;

      transform: translateX(-100%);
    }

    a.component{
      margin: 0;
      padding: 0;
      cursor: pointer;

      transform: translateX(-100%) rotate(90deg);
    }

    #test{
      margin-top: 1000px;
    }

/* ##### projects ##### */
#project1{
  background-color: rgba(70, 70, 70, 0.795);
  width: 30px;
  border-radius: 5%;
}


/* ##### media  querys ##### */

@media(prefers-reduced-motion){
  .component{
    transition: none;
  }
}

/* @media (prefers-color-scheme: light) {

} */
